* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, red 10%, blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper img {
  position: absolute;
  top: -50px;
  right: -20px;
  transition: 0.5s;
}

.wrapper .display {
  width: 90%;
  height: 60px;
  margin-top: 20px;
}

.display input {
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 2em;
  font-weight: bold;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  border-right-color: transparent;
  border-top-color: transparent;
  color: white;
}

.btn {
  width: 90%;
  margin-top: 50px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.btn div {
  display: flex;
  justify-content: space-between;
}

.btn div:not(:nth-child(1)) {
  margin-top: 20px;
}

.btn div button {
  width: calc(100% / 4 - 20px);
  height: 50px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left-color: transparent;
  border-bottom-color: transparent;
  font-size: 1.7em;
  color: white;
}

.btn div button:hover {
  border: none;
  box-shadow: 0 2px 5px black;
}

.btn div button:active {
  transform: rotateX(20deg);
}

.wrapper > img:hover {
  top: -200px;
  right: -100px;
}
